/* color palette http://www.color-hex.com/color-palette/13682 */

nav {
  float: left;
  padding: 30px;
}

article {
  float: right;
  width: 700px;
  padding: 25px;
}

footer {
  clear: both;
  background-color: #495054;
  padding: 25px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #bccad0;
    min-width: 20px;
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
    border: 1px solid white;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size:50px;
  text-align:center;
  color:#495054;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  display: block;
  text-align:left;
  color: white;
}

h6 {
  font-family: 'Montserrat', sans-serif;
}

span {
  font-family: helvetica;
  font-size: 20px;
  padding: 10px;
  color: white;
  opacity: 0.5;
  filter: alpha(opacity=50)
}

span:hover {
  opacity: 1;
  filter: alpha(opacity=30); /* For IE8 and earlier */
}

ul {
  text-align:left;
  list-style: none;
  font-family: helvetica;
  letter-spacing: 2px;
  line-height: 25px;
  font-size: 18px;
  padding: 10px;
}

a {
  color: #e3e8ea;
  text-decoration: none;
  letter-spacing: 1px;

}

a:hover {
    color: grey;
}

a:visited {
  text-decoration: underline;
  color: #e3e8ea;
}
