/* color palette http://www.color-hex.com/color-palette/13682 */
.header img {
  margin: 0 auto;
  display: block;
  width: 300px;
}

header {
    background-color: white;
    padding-bottom: 1px;
    border: 5px double #707a7e;
}

nav {
  float: left;
  padding: 10px 20px 10px 20px;
}

.index {
  padding-left: 35px;
}

article {
  width: auto;
  padding: 25px;
}

footer {
  background-color: white;
  padding: 25px;
}

.dropdown-content {
	background:#bccad0;
	padding:0;
	margin:0;
	list-style-type:none;
	height:30px;
}
.dropdown-content li {
  float:left;
}
.dropdown-content li a {
	padding:9px 20px;
	display:block;
	color:white;
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;;
  font-size: 14px;
  opacity: 0.7;
}

.dropdown-content li a:hover {
  opacity: 1;
}

/* Submenu */
.dropdown-content ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.dropdown-content li:hover {
  position:relative;
  background:#bccad0;
}
.dropdown-content li:hover ul {
	left:0px;
	top:30px;
	background:#bccad0;
	padding:0px;
}

.dropdown-content li:hover ul li a {
	padding:5px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#bccad0;
}
.dropdown-content li:hover ul li a:hover {
  background:#bccad0;
  color: #9ba8ae;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size:50px;
  text-align:center;
  color:#495054;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: right;
}

h6 {
  font-family: 'Open Sans', sans-serif;
}

ul {
  text-align:left;
  list-style: none;
  font-family: helvetica;
  letter-spacing: 2px;
  line-height: 25px;
  font-size: 18px;
  padding: 10px;
}

a {
  color: #707a7e;
  text-decoration: none;
  letter-spacing: 1px;
}

ul a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;

}

a:hover {
    color: #495054;
}

a:visited {
  text-decoration: underline;
  color: #495054;
}

div.img {
  display: block;
  margin: 0 auto;
    padding: 20px;
    width: 180px;
    opacity: 0.5;
}

div.img:hover {
    opacity: 1;
}

div.img img {
    width: 200%;
    height: auto;
}

div.desc {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: white;
}
