.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ceddda;
    min-width: 160px;
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size:50px;
  text-align:center;
  color:white;
}

span {
  font-family: helvetica;
  font-size: 20px;
  padding: 10px;
  color: white;
}

ul {
  text-align:left;
  list-style: none;
  font-family: helvetica;
  letter-spacing: 2px;
  line-height: 25px;
  font-size: 18px;
  padding: 10px;
}

a {
  color:white;
  text-decoration: none;
  letter-spacing: 1px;
  background-color:#ceddda;
}

a:hover {
    color: grey;
}

a:visited {
  text-decoration: underline;
  color:lightsteelblue;
}
