/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--END OF RESET--*/
body {
	background-image: url("../images/cc-mobile-bg.jpg");
}

.header {
	width:100%;
	min-width: 380px;
	height:700px;
	margin:auto;
	position:relative;
}

.logo img{
  width: 35%;
  height:22%;
  padding: 10% 0 0 10%;
	margin:auto;
	display:block;
}

@media (min-width: 800px) {
	body {
		background-image: url("../images/cc-bg.jpg");
	}
	.header {
		max-width:1024px;
		height:800px;
	}

	.logo img{
		margin: 0;
		width: 25%;
		height:30%;
		padding: 2% 0 0 0;
	}
}
/*--nav bar--*/
.menu img{
	width:11%;
	height: auto;
	position:absolute;
	left:10%;
	top:5%;
}

.nav-desktop {
  display:none;
}

@media (min-width: 800px) {
	.menu img{
		display: none;
	}

	nav {
	  width: 75%;
		height: 33%;
		position:absolute;
		top: 0;
		right: 0;
	  text-align: center;
	  padding: 2% 0 0 0;
	}
	.nav-desktop {
		display:table;
		margin-top: 10%;
	}

	.nav-desktop li {
		display:table-cell;
		width:10%;
		padding: 4%;
		white-space: nowrap;
		text-align: center;
	}

	li a {
	    display: inline-block;
	    font-family: 'Montserrat', sans-serif;
	    font-size: 18px;
	    line-height: 3.2px;
	    color: white;
	    text-decoration: none;
	}

}
/*--nav bar end--*/

/*--main section--*/
#wrapper {
  width: 90%;
	height: 58%;
	padding: 10% 0 0 10%;
  margin: auto;
}

@media (min-width: 800px) {
	#wrapper {
		width: 70%;
		height: 52%;
		padding-left: 30%;
	}
}

main {
	width: 80%;
}

@media (min-width: 800px) {
	main {
		width: 70%;
		font-size: 1.125em;
	}
}

h1 {
  font-family: 'Corben', cursive;
  font-size: 2.375em;
  color:white;
  padding: 20px 20px 20px 0;
}

p {
  font-family: 'Montserrat', sans-serif;
	font-size: .65em;
  color: white;
  line-height: 21.6px;
}

@media (min-width: 800px) {
  h1 {
    font-size: 4em;
  }
  p {
		font-size:1em;
  }
}
/*--end of main--*/
