#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 120%;
  min-height: 120%;
}

img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

body img {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -100px;
  height:200px;
  width:auto;
}

a {
  opacity: 0.8;
}

a:hover {
  opacity: 0.6;
}

#top, #bottom, #left, #right {
	background: rgba(26,26,26,0.9);
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
    margin:20px;
		}
		#left { left: 0; }
		#right { right: 0; }

	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
    margin:20px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
