/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET END */

h1 {
  font-family: 'Ek Mukta', sans-serif;
	font-weight: 700;
	letter-spacing: 5px;
  text-align: center;
  font-size: 40px;
  color: white;
  padding: 10px 0 10px 0;
  border: 4px solid white;
  margin: 30px 400px 30px 400px;
}


/*---BODY STYLE---*/
body {
  background-color: #abc9cf;
}

/* main image */
#image {
	position: absolute;
  z-index: -1;
	margin-left: 30%;
	margin-top: 80px;
  display:block;
}

img {
	width: 500px;
	height:auto;
}
/* main image end */

#container {
  width: 600px;
  height: auto;
	margin: auto;
	background: #ffffff;
  padding: 25px;
	margin-top: 250px;
}

h2 {
	font-family:'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: 3px;
  font-size:20px;
	padding-bottom: 10px;
  color: #585858;
}

article a {
	text-decoration: none;
	font-family:'Open Sans', sans-serif;
  font-size:14px;
	font-weight: 600;
  color: #585858;
}

p {
  font-family:'Open Sans', sans-serif;
  font-size:14px;
  color: #585858;
	line-height:18px;
  text-indent: 16px;
  padding: 10px 30px 10px 30px;
}

figure {
	float:right;
	border: 3px solid #e1e1e1;
	padding: 5px;
}

figure img{
  margin: 0 0 10px 10px;
	height:30%;
	width:auto;
}

figcaption {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

/*----BODY STYLE ENDS---*/

/* nav bar */

ul {
  font-size: 18px;
  padding:10px 0 0 25px;
  font-family: 'Open Sans', sans-serif;
	font-weight: 600;
  width: 7%;
  background-color: #abc9cf;
  position: fixed;
  height: 22%;
  overflow: auto;
}

li a {
  text-decoration: none;
  line-height: 25px;
  display: block;
  width: 60px;
}

li a:link {
  color: white;
}

a:visited, a:hover {
  color: #585858;
}

a:active {
  color: white;
}
/*nav end */

footer a{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

h6 a{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	color: #585858;
	text-decoration: none;
}

/*back to top*/
.top img{
	position:fixed;
	bottom:50px;
	height:7%;
	width:auto;
	margin-top: 450px;
	margin-left:660px;
	opacity: 0.5;
}
