body {
  background-image: url("https://static1.squarespace.com/static/5437fa30e4b06fcc1e2ca439/t/57e3049237c58191c3c1706b/1474495644063/peace.jpg?format=1500w");
}


/*nav bar */
.dropdown-content {
  padding:20px 0 25px 0;
  margin:0;
  list-style-type:none;
  height:30px;
  margin-left: 20%;
}
.dropdown-content li {
  float: left;
}
.dropdown-content li a {
  padding:9px 20px;
  display:block;
  color: white;
  text-decoration:none;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  opacity: 0.95;
  background-color:rgba(218, 235, 232, .7);
}

.dropdown-content li a:hover {
  opacity: 1;
  color: lightsteelblue;
}

/*end of drop down nav bar*/

#wrapper {
  margin-left: 20%;
  display:block;
}

footer {
  margin: 30px;
  background-color: rgba(255,255,255,.3);
  border: 1px double rgb(218, 235, 232);
  margin-right: 30%;

}

footer h6 a {
  font-weight:bold;
  color: rgba(255,255,255,0.8);
}

a {
  color:white;
  text-decoration: none;
  letter-spacing: 1px;

}

a:hover {
    color: grey;
}

a:visited {
  text-decoration: underline;
  color:white;
}

h6 {
  color: grey;
  font-size: 12px;
  font-family: 'Quicksand', sans-serif;
  letter-spacing:2px;
  line-height:1px;
  margin-left: 30px;
}

img {
  height:200px;
  width:800px;
  display: block;
  border: 10px double;
  border-color: #daebe8;
  opacity:0.7;
}
