/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*-------END OF CSS RESET-------*/


/*-------START OF STYLE--------*/

@media only screen and (min-width: 640px) {
#wrapper {
	width: 100%;
	height: auto;
	margin: auto;
}
}

/*---header start---*/
.logo {
	display:block;
	position: relative;
    max-width: 300px;
    margin: 0 auto;
    width: 15%;
		height: auto;
		padding: 100px 10px 10px 10px;
}

@media only screen and (min-width: 640px) {
	.logo {
		display: none;
	}
}

h1 {
    text-align: center;
		letter-spacing: 2px;
		color:grey;
		font-size: 15px;
		font-family: 'Source Sans Pro', sans-serif;
}

/*---header end---*/


/*---nav start----*/

/* mobile nav */
.mobile-dropdown {
	position: absolute;
}

#menu-icon {
    display: inline-block;
    color: grey;
    padding: 14px 16px;
    text-decoration: none;
}

li .drop:hover #menu-icon {
    background-color: white;
}

li .drop {
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
}

.dropdown a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown a:hover {
    color: lightsteelblue;
}

.drop:hover .dropdown {
    display: block;
}
.nav-desktop {
	display: none;
}

.arrows {
  display: none;
}

@media only screen and (min-width: 640px) {
    .mobile-dropdown {
				display:none;
    }
    #menu-icon {
        display: hidden;
    }
		.nav {
		    width: 100%;
        margin: auto;
        text-align: center;
		}
		.nav-desktop {
			display: inline-block;
      padding-top: 30px;
		}

    .nav-desktop li:nth-child(1), .nav-desktop li:nth-child(2), .nav-desktop li:nth-child(4), .nav-desktop li:nth-child(5) {
      text-align: center;
      padding-top: 50px;
    }

		.nav-desktop .logo-nav img {
			width: 20%;
			height: auto;
		}

}


/* end mobile nav */


/* desktop nav */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.nav li a, .dropbtn {
    display: inline-block;
    color: grey;
    text-align: center;
    padding: 20px 50px 20px 50px;
    text-decoration: none;
		font-family: 'Source Sans Pro', sans-serif;
}

li .drop:hover .dropbtn {
    background-color: white;
}

li .drop {
    display: inline-block;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.05);
}

.drop .dropdown a {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown a:hover {
    color: lightsteelblue;
}

.drop:hover .dropdown {
    display: block;
}
/*end desktop nav*/


/*---nav end----*/


/*---content start---*/
.button {
	display:block;
    max-width: 300px;
    margin: 0 auto;
    width: 90%;
		padding: 20px 20px 20px 50px;
}
.button a img {
  opacity: 0.6;
}
.button a:hover img {
  opacity: 1;
}

figcaption{
  width: 60%;
  margin: auto;
}

figcaption h1 {
  text-align: left;
  letter-spacing: 2px;
  color:grey;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}

figcaption p {
  font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 15px;
  padding-top: 5px;
}

.portfolio-img {
  display:block;
    max-width: 300px;
    margin: 0 auto;
    width: 90%;
}

@media only screen and (min-width: 640px) {

  main {
    width:85%;
    margin:auto;
  }
/*for project pages*/
  figure {
    display: table;
    margin-top: 5%;
  }

  figcaption {
    width: 40%;
    padding-right: 10%;
    display: table-cell;
    vertical-align: top;
}

  .portfolio-img {
    margin-right: 20%;
    display: table-cell;
  }
/*end of project pages*/
  .button {
    display: inline;
  }
  .button ul .row1, .button ul .row2 {
    display: table;
    margin: 0 auto;
  }
  .button img{
    padding: 20px;
  }

  .arrows {
    display: inline;
    position: relative;
    z-index: -1;
  }

  .arrows ul li:nth-child(2) {
    text-align: right;
    float: right;
    display: table-row;
  }

  .arrows li a .left {
    display: table-row;
}

	.arrows ul li a img{
		width: 7%;
		height: auto;
	}

}

/*---content end---*/

/*---FOOTER---*/
.up-mobile img{
	display: block;
	position:fixed;
	bottom:30px;
	height:4%;
	width:auto;
	padding: 20px;
	left:85%;
	opacity: 0.5;
}

@media only screen and (min-width: 640px) {
	footer .up-mobile img {
		display: none;
	}
}

h6 {
	text-align: center;
	padding: 50px 10px 10px 10px;
	font-family: 'Source Sans Pro', sans-serif;
	color: grey;
}

h6 a {
	text-decoration: none;
	color: lightsteelblue;
}
/*---footer ends---*/
